#Mon Jun 25 16:31:58 IST 2018
lisa.vse.execution.mode=EFFICIENT
LIVE_INVOCATION_SERVER=localhost
LIVE_INVOCATION_PORT=7000
WSSERVER=localhost
WSPORT=7001
lisa.baseline.xmldiff.config=<xmlDiffOptions>  <ignoreNamespaces>false</ignoreNamespaces>  <ignoreNamespacePrefixes>true</ignoreNamespacePrefixes>  <caseSensitive>true</caseSensitive>  <trimWhitespace>true</trimWhitespace>  <normalizeWhitespace>false</normalizeWhitespace>  <collapseWhitespace>false</collapseWhitespace>  <ignoreWhitespace>false</ignoreWhitespace>  <ignoreAttributes>false</ignoreAttributes>  <ignoreElementText>false</ignoreElementText>  <ignoreAttributeValues>false</ignoreAttributeValues>  <ignoreElementOrdering>false</ignoreElementOrdering>  <ignoreAttributeOrdering>true</ignoreAttributeOrdering></xmlDiffOptions>
selenium.browser.type=Chrome
selenium.chrome.driver.path=C\:\\Users\\ps439r\\eclipse-workspace\\SeleniumPrac\\Drivers\\chromedriver.exe
SERVER=135.66.27.108
PORT=3434
PORT1=8080
LIVE_INVOCATION_PORT1=80
