<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="1" parallel="tests" thread-count="1">
	<test name="BVTuverseSAflow-1-Firefox">
		<parameter name="browser" value="Firefox" />
		<parameter name="iter" value="1" />
		<parameter name="tcName" value="BVTuverseSAflow" />
		<parameter name="Environment" value="BuildValidations_Data" />
		<classes><class name="com.TestCase.Application.BVT.BVTuverseSAflow" /></classes>
	</test>
	<test name="BVTuverseSLflow-1-Firefox">
		<parameter name="browser" value="Firefox" />
		<parameter name="iter" value="1" />
		<parameter name="tcName" value="BVTuverseSLflow" />
		<parameter name="Environment" value="BuildValidations_Data" />
		<classes><class name="com.TestCase.Application.BVT.BVTuverseSLflow" /></classes>
	</test>
	<test name="BVTwirelessSAflow-1-Firefox">
		<parameter name="browser" value="Firefox" />
		<parameter name="iter" value="1" />
		<parameter name="tcName" value="BVTwirelessSAflow" />
		<parameter name="Environment" value="BuildValidations_Data" />
		<classes><class name="com.TestCase.Application.BVT.BVTwirelessSAflow" /></classes>
	</test>
	<test name="BVTwirelessSLflow-1-Firefox">
		<parameter name="browser" value="Firefox" />
		<parameter name="iter" value="1" />
		<parameter name="tcName" value="BVTwirelessSLflow" />
		<parameter name="Environment" value="BuildValidations_Data" />
		<classes><class name="com.TestCase.Application.BVT.BVTwirelessSLflow" /></classes>
	</test>
	<test name="BVTwirelineSAflow-1-Firefox">
		<parameter name="browser" value="Firefox" />
		<parameter name="iter" value="1" />
		<parameter name="tcName" value="BVTwirelineSAflow" />
		<parameter name="Environment" value="BuildValidations_Data" />
		<classes><class name="com.TestCase.Application.BVT.BVTwirelineSAflow" /></classes>
	</test>
	<test name="BVTwirelineSLflow-1-Firefox">
		<parameter name="browser" value="Firefox" />
		<parameter name="iter" value="1" />
		<parameter name="tcName" value="BVTwirelineSLflow" />
		<parameter name="Environment" value="BuildValidations_Data" />
		<classes><class name="com.TestCase.Application.BVT.BVTwirelineSLflow" /></classes>
	</test>
	<test name="BVTZoneImpersonation-1-Chrome">
		<parameter name="browser" value="Chrome" />
		<parameter name="iter" value="1" />
		<parameter name="tcName" value="BVTZoneImpersonation" />
		<parameter name="Environment" value="BuildValidations_Data" />
		<classes><class name="com.TestCase.Application.BVT.BVTZoneImpersonation" /></classes>
	</test>
	<test name="BVTZoneSearchMenuValidation-1-Chrome">
		<parameter name="browser" value="Chrome" />
		<parameter name="iter" value="1" />
		<parameter name="tcName" value="BVTZoneSearchMenuValidation" />
		<parameter name="Environment" value="BuildValidations_Data" />
		<classes><class name="com.TestCase.Application.BVT.BVTZoneSearchMenuValidation" /></classes>
	</test>
</suite>