#Sat Mar 24 17:07:05 IST 2018
DBCONNURL=jdbc\:derby\://localhost\:1529/lisa-demo-server.db
DBDRIVER=org.apache.derby.jdbc.ClientDriver
DBNAME=itko_examples
DBPASSWORD=sa
DBPORT=3306
DBUSER=sa
EJBPORT=1099
EJBSERVER=localhost
ENDPOINT1=http\://localhost\:8080/itkoExamples/EJB3UserControlBean
JMSCONNECTIONFACTORY=ConnectionFactory
JNDIFACTORY=org.jnp.interfaces.NamingContextFactory
JNDIPORT=1099
JNDIPROTOCOL=jnp
LIVE_INVOCATION_PORT=8080
LIVE_INVOCATION_SERVER=localhost
PORT=8080
SERVER=localhost
WSPORT=8080
WSSERVER=localhost
order.step.2.queue=queue/C
password=example-pwd
user=webapp
user_prefix=csv_usertest
VSE_WSPORT=8888
WSSERVER1=csi-tst-q25.it.att.com
WSPORT1=25443
SERVER1=135.66.27.108
ENDPOINT=http\://localhost\:8080/itkoExamples/EJB3AccountControlBean
lisa.vse.execution.mode=EFFICIENT
LIVE_INVOCATION_PORT1=7000
ENDPOINT2=http\://HVDIVD18MIS1939\:8080/itkoExamples/EJB3UserControlBean
