#Mon Apr 16 17:16:56 IST 2018
ENDPOINT=https\://csi-tst-q28.it.att.com\:28443/Services/com/cingular/csi/lscrm/InquireUnifiedServiceAccount.jws
ENDPOINT1=http\://localhost\:8010/Services/com/cingular/csi/lscrm/InquireUnifiedServiceAccount.jws
ENDPOINT2=http\://localhost\:8010
ENDPOINT3=http\://localhost\:8010/Services/com/cingular/csi/ccr/InquireUnifiedCustomerLoginProfile.jws
ENDPOINT4=http\://localhost\:9002/Services/com/cingular/csi/ccr/InquireUnifiedCustomerLoginProfile.jws
ENDPOINT5=https\://csi-tst-q28.it.att.com\:28443/Services/com/cingular/csi/ccr/InquireUnifiedCustomerLoginProfile.jws
ENDPOINT6=https\://csi-tst-q25.it.att.com\:25443/Services/com/cingular/csi/ccr/InquireUnifiedCustomerLoginProfile.jws
ENDPOINT7=https\://tis.red.test.att.com/AddMemberRILMPSWeb/RILAddMemberService
lisa.vse.execution.mode=TRACK
LIVE_INVOCATION_SERVER=https\://www.att.com
LIVE_INVOCATION_PORT=443
ENDPOINT8=https\://tis.red.test.att.com/AddAccountRILMPSWeb/RILAddAccountService
ENDPOINT9=https\://tis.red.test.att.com/SecurityCodeRILMPSWeb/RILSecurityCodeService
ENDPOINT10=http\://cricapi.com/api/fantasySquad
LIVE_INVOCATION_SERVER1=live
LIVE_INVOCATION_PORT1=80
LIVE_INVOCATION_SERVER2=li
LIVE_INVOCATION_SERVER3=localhost
LIVE_INVOCATION_PORT2=8080
LIVE_INVOCATION_PORT3=7000
SERVER=135.66.27.108
PORT=8080
EJBSERVER=localhost
EJBPORT=8080
EJBPORT1=1099
User=afsfjas
Password=sfas
day=27
WSSERVER=localhost
WSPORT=8080
ENDPOINT11=http\://HVDIVD18MIS1939\:8080/itkoExamples/EJB3UserControlBean
bal=124568.00
LIVE_INVOCATION_SERVER4=csi-tst-q28.it.att.com
LIVE_INVOCATION_PORT4=28443
